h1 {
    text-align: center;
    display: block;
    margin: 20px auto;
    width: 600px;
    height: 20px;
    background-color: #bb9595;
    border-radius: 00px;
}

h2 {
    text-align: center;
    display: block;
    margin: 20px auto;
    width: 600px;
    height: 20px;
    background-color: #bb9595;
    border-radius: 00px;
}

h3 {
    text-align: center;
    display: block;
    margin: 20px auto;
    width: 600px;
    height: 20px;
    background-color: #bb9595;
    border-radius: 00px;
}

p {
    text-align: center;
    display: block;
    margin: 20px auto;
    width: 600px;
    height: 20px;
    background-color: #bb9595;
    border-radius: 00px;
}

/* <a href="file:///d%3A/shadyHTML/contactme.html" class="button-link">Contact me </a> */
.button-link {
    display: block;
    margin: 10px auto;
    width: 300px;
    height: 30px;
    font-size: 20px;
    background-color: #0435fb;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}

.button-link:hover {
    background-color: #0056b3;
    /* Darkens the button when hovered */
}